<a href="https://colab.research.google.com/github/AbhinavRadhakrishnan/Mastering-python-/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#syntax
def function_name(parameters):
  """Docstring"""
  #function body
  return expression

In [2]:
#why  function
num=24
if num%2==0:
  print("even")
else:
  print("odd")

even

In [4]:
def even_or_odd(num):
  """this functions finds even or odd"""
  if num%2==0:
    print("even")
  else:
    print("odd")

In [5]:
even_or_odd(31)

odd

In [8]:
#functions with parameters

def add(a,b):
  return a+b

result=add(2,3)
print(result)

5

In [14]:
##Default parameters
def greet(name="guest"):
  print(f"hello {name} welcome to the palace")

greet("abhi")

hello abhi welcome to the palace

In [12]:
greet() #missing parameter

TypeError: greet() missing 1 required positional argument: 'name'

In [16]:
greet() #defualt parameter given

hello guest welcome to the palace

In [20]:
#variable length arguments
#positional and keyword arguments
#positional arguments
def print_numbers(*args): #positional arguments
  for num in args:
    print(num)

In [21]:
print_numbers(1,2,3,4,5,6,"Abhinav",7)

1
2
3
4
5
6
Abhinav
7

In [40]:
#keyword argument

def print_details(**kwargs): #keyword argument
  for key,value in kwargs.items():
    print(f"{key}:{value}")

In [41]:
print_details(name="abhi",age="32",Country="India")

name:abhi
age:32
Country:India

In [42]:
#keyword argument

def print_details(*args,**kwargs): #keyword argument
  for val in args:
    print(f" positional arguments :{val}")

  for key,value in kwargs.items():
    print(f"{key}:{value}")

In [43]:
print_details(1,2,3,4,name="abhi",age="32",Country="India")

 positional arguments :1
 positional arguments :2
 positional arguments :3
 positional arguments :4
name:abhi
age:32
Country:India

In [44]:
#return statment
def multiple(a,b):
  return a*b

In [46]:
multiple(3,2)

6

In [47]:
#return multiple parameters
def subtract(a,b):
  return a-b,a,b

In [48]:
subtract(10,4)

(6, 10, 4)