<a href="https://colab.research.google.com/github/AbhinavRadhakrishnan/Mastering-python-/blob/main/Map_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Map function**

In [4]:
def square(num):
  return num**2


number=[2,5,67,3]
list(map(square,number))

[4, 25, 4489, 9]

In [3]:
#map function
num = [1,2,3,4,5,6,7,8]
fun = lambda x:x**2
list(map(fun,num))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
num1=[1,2,3]
num2=[5,6,7]
added_num = map(lambda x,y:x+y,num1,num2)
list(added_num)

[6, 8, 10]

In [7]:
#using map to convert strings into int
str_num = ["1",'2','3']
int_num = list(map(int,str_num))
print(int_num)

[1, 2, 3]

In [9]:
words = ["apple",'banana',"cherry"]
upper_words = list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [11]:
def get_name(person):
  return person["name"]

people = [
    {'name':'Abhinav','age':32},
    {"name":'jithin','age':33}
]
print(type(people))
list(map(get_name,people))

<class 'list'>

['Abhinav', 'jithin']