<a href="https://colab.research.google.com/github/AbhinavRadhakrishnan/Mastering-python-/blob/main/Master_Python_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [8]:
my_set = set([1,2,3,4,5,5,5,5])#added duplicate entries

In [9]:
print(type(my_set))
print(type(set1))

<class 'set'>
<class 'set'>

In [10]:
print(my_set)#not displayed duplicate entries

{1, 2, 3, 4, 5}

In [12]:
my_set.add("a")
print(my_set)
my_set.add("a")
print(my_set)

{1, 2, 3, 4, 5, 'a'}
{1, 2, 3, 4, 5, 'a'}

In [17]:
#removing elemnt
my_set.remove(1)
print(my_set)

{2, 4, 5, 'a'}

In [18]:
my_set

{2, 4, 5, 'a'}

In [19]:
my_set.remove(1)

KeyError: 1

In [21]:
my_set.discard(11)# here we are not getting any errors even if there is no value in the list

print(my_set)

{2, 4, 5, 'a'}

In [23]:
#pop method
removed_item = my_set.pop()
print(removed_item)
print(my_set)

4
{5, 'a'}

In [24]:
#clear all the elemrnts
my_set.clear()

In [25]:
print(my_set)

set()

In [26]:
#set membership test
my_set = set({1,2,3,4,5})
print(3 in my_set)
print(6 in my_set)

True
False

In [33]:
#mathematical operations
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

##union
union_set = set1.union(set2)
print(union_set)

#intersection
inter_set = set1.intersection(set2)
print(inter_set)

set1.intersection_update(set2)#this operation will reflect back in the og set
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
set()

In [35]:
set1={1,2,3,4,5,6,7,8}
set2={6,7,8,9,10,11,12}
#difference
print(set1.difference(set2))
set2.difference(set1)

{1, 2, 3, 4, 5}

{9, 10, 11, 12}

In [37]:
#symmetric difference
set1.symmetric_difference(set2) #intersection element or common elements got removed

{1, 2, 3, 4, 5, 9, 10, 11, 12}

In [40]:
#Set methods
set1={1,2,3}
set2={3,4,5}
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [41]:
lst =[1,2,3,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [43]:
#counting uniqe words in text

text="In this tutorial we are discussing about sets"
words= text.split()
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'discussing', 'In', 'this', 'about', 'sets', 'tutorial', 'are', 'we'}
8