<a href="https://colab.research.google.com/github/AbhinavRadhakrishnan/Mastering-python-/blob/main/Mastering_Python_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#creating dictionary
empty_dict ={}
print(type(empty_dict))

<class 'dict'>

In [3]:
empty_dict=dict()
empty_dict

{}

In [4]:
student={"name":"Abhi",
          "age":24,
         "grade" : "a"}
print(student)

{'name': 'Abhi', 'age': 24, 'grade': 'a'}

In [6]:
#error happen if we mention same two keys,key should be unique

In [7]:
#accesing values
student={"name":"Abhi",
          "age":24,
         "grade" : "a"}

In [8]:
print(student['name'])

Abhi

In [9]:
print(student["age"])

24

In [13]:
#accessing using get method
print(student.get('grade'))
print(student.get('last name')) #there is no such key
print(student.get('last name',"Not availabe")) #giving a default value

a
None
Not availabe

In [14]:
#modify dict elements
print(student)

{'name': 'Abhi', 'age': 24, 'grade': 'a'}

In [21]:
student['age']=30
print(student)
student["Country"]='India'
print(student)

{'name': 'Abhi', 'age': 30, 'grade': 'a'}
{'name': 'Abhi', 'age': 30, 'grade': 'a', 'Country': 'India'}

In [22]:
#deleting key
print(student)
del student['Country']
print(student)

{'name': 'Abhi', 'age': 30, 'grade': 'a', 'Country': 'India'}
{'name': 'Abhi', 'age': 30, 'grade': 'a'}

In [24]:
#dict methods

keys=student.keys()
print(keys)
values=student.values()
print(values)

items = student.items()#get all key-value pairs
print(items)

dict_keys(['name', 'age', 'grade'])
dict_values(['Abhi', 30, 'a'])
dict_items([('name', 'Abhi'), ('age', 30), ('grade', 'a')])

In [25]:
#shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Abhi', 'age': 30, 'grade': 'a'}
{'name': 'Abhi', 'age': 30, 'grade': 'a'}

In [26]:
student['name']="aswin"
print(student)
print(student_copy) #same update happend here

{'name': 'aswin', 'age': 30, 'grade': 'a'}
{'name': 'aswin', 'age': 30, 'grade': 'a'}

In [28]:
student_copy1=student.copy()#shallow copy
print(student_copy)
print(student)

{'name': 'aswin', 'age': 30, 'grade': 'a'}
{'name': 'aswin', 'age': 30, 'grade': 'a'}

In [29]:
student['age']=50
print(student)
print(student_copy1)

{'name': 'aswin', 'age': 50, 'grade': 'a'}
{'name': 'aswin', 'age': 30, 'grade': 'a'}

In [34]:
#iterating over dict
for key in student.keys():
  print(key)

name
age
grade

In [35]:
for value in student.values():
  print(value)

aswin
50
a

In [37]:
for key,value in student.items():
  print(f"{key}:{value}")

name:aswin
age:50
grade:a

In [38]:
#nested dict
students={
    "student1":{"name":"abhi","age":24},
    "student2":{"name":"jithin","age":25}
}
print(students)

{'student1': {'name': 'abhi', 'age': 24}, 'student2': {'name': 'jithin', 'age': 25}}

In [39]:
#Access nested dict elemets
print(students["student2"]["name"])
print(students['student1']["name"])

jithin
abhi

In [42]:
#itterating over nested dict
for id,info in students.items():
  print(f"{id}:{info}")
  for key,value in info.items():
    print(f"{key}:{value}")

student1:{'name': 'abhi', 'age': 24}
name:abhi
age:24
student2:{'name': 'jithin', 'age': 25}
name:jithin
age:25

In [58]:
squares={}
for x in range(10):
  squares[x]=x**2
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [60]:
squares={}
print(type(squares))
for x in range(20):
  if x%2==0:
    squares[x]=x**2
print(squares)

<class 'dict'>
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

In [44]:
#dict comprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [46]:
squares_even={x:x**2 for x in range(20) if x%2==0}

In [47]:
print(squares_even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

In [56]:
#practical examples

In [57]:
#use a dict to count the frequency of elements in list
numbers=[1,2,2,3,3,4,4,4,4]
frequency={}
for num in numbers:
  if num in frequency:
    frequency[num]+=1
  else:
    frequency[num]=1
print(frequency)

{1: 1, 2: 2, 3: 2, 4: 4}

In [ ]:
#merge 2 dict into 1
dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}#keyword arguments
print(merged_dict)